$min-site-width: 960px
$max-site-width: 1000px

=ui-grid($totalColumns, $margin)
	.ui-row, 
		display: block
		margin-left: -($margin/2)
		margin-right: -($margin/2)
		// ^^ needs testing
		+clearfix
	[class*="column"]
		float: left
		padding: 0 ($margin/2)
		position: relative
		// Pretty
		background-color: rgb(245, 245, 245)
		outline: 1px solid rgb(229, 229, 229)
		outline: 1px solid rgb(155, 150, 150)
		// ^^ Remove skirt  in production edition
	[class*="column"] + [class*="column"]:last-child
		float: right
		// ^^ Questional?
	@for $i from 1 through $totalColumns
		.ui-column#{$i}
			width: percentage(($i/$totalColumns))

.ui-centered
	position: relative
	margin-left: auto
	margin-right: auto
	float: none !important
	// ^^ Important nessercary?

.ui-container
	margin-right: auto
	margin-left: auto
	max-width: 900px