//+media(tablet)
// Set devices here. $device :name, min-width, max-width
$phone: phone, 0px, 480px
$tablet: tablet, 481px, 900px
$desktop: desktop, 901px, 0px
// Do the work
=media($media)
	@each $device in $phone, $tablet
		@if ($media == nth($device, 1))
			@media only screen and (min-width : nth($device, 2))
				@content