/* Colors */
$brand:	#9cd600
$brand--dark:	darken($brand, 10%)
$font-color: #6d6d6e
$font-color--light: lighten($brand, 10%)

/* Css3 */
$border-radius: 5px
$box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .5)

/* fonts */
$font-h:	Helvetica,  Arial, sans-serif
$font-b:	Helvetica,  Arial, sans-serif

/* Mixin Variables */
// Grid Options
$grid-semtantic: true
$grid-by-class: false
$grid-columns: 12
$grid-margin: 12px
$grid-last-column: false

/* Mixin exection */
+grid

/* Placeholders */